## .NET
bin/
obj/
*.user
*.userosscache
*.suo
*.vs/
.vscode/

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

## NuGet
*.nupkg
**/packages/*
*.nuget.props
*.nuget.targets

## IDE
.idea/
*.swp
*~

## User files
*.rsuser
*.suo
*.user
*.sln.docstates

## Mac
.DS_Store

